<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/newblog.css">
    <title>Add New Blog Post</title>
</head>
<body>
    <h1>Add New Blog Post</h1>
    <form action="/api/posts" method="POST">
        <div>
            <div class="title">
                <input type="text" id="title" name="title" placeholder="Title" required>
            </div>
    
            <div class="content">
                <textarea id="content" name="content" rows="5" required placeholder="content"></textarea>
            </div>
    
            <div class="author">
                <input type="text" id="author" name="author" required placeholder="Author">
            </div>
    
            <div class="submit">
                <button type="submit">Create Post</button>
            </div>

        </div>
        
    </form>
</body>
</html>
